body {
    font-size: 25px;
    font-weight: 300;
    background-color: #ffffffb6;
  }
  .conteiner {
    min-height: 800px;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 100px;
    margin-top: -1.5em; 
  }
  .formulario {
    text-decoration: black;
    margin-left: 3rem;
    margin-top: 5rem;
  }
  
  .botao {
    text-decoration: black;
    margin-left: 25rem;
    margin-top: 2rem;
    padding-right: 80px;
  }

  .nav {
    background-color: rgb(33, 224, 192);
    padding-left: 40%;
    margin-bottom: 30px;
}
 .form-group{
  padding-left: 40px;
 }